section{
    margin: 10% auto;
}
img{
    width: 500px;
    margin: 0 auto;
    display: block;
}
@media only screen and (max-width:768px){
    img{
        width: 90%;
        padding: 0 15px;
    }
}
.btn-wrap{
    text-align: center;
    margin: 50px 0;
}
.btn-wrap a{
    background-color: #009ad6;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 0 5px;
}
@media only screen and (max-width:500px){
    .btn-wrap a:first-child{
        display: block;
        margin: 0 auto;
        width: 50%;
        margin-bottom: 15px;
    }
    .btn-wrap a:last-child{
        display: block;
        margin: 0 auto;
        width: 70%;
    }
}