#id_funds_percent1 {
	background-color: rgb(127, 205, 252);
}

#id_funds_percent2 {
	background-color: rgb(157, 166, 173);
}

#id_funds_percent3 {
	background-color: rgb(64, 140, 209);
}

#id_funds_percent4 {
	background-color: rgb(176, 188, 198);
}

#id_funds_percent5 {
	background-color: rgb(186, 208, 237);
}

#id_funds_percent6 {
	background-color: rgb(193, 226, 251);
}

#id_funds_percent7 {
	background-color: rgb(173, 185, 205);
}

#id_funds_percent8 {
	background-color: rgb(160, 176, 200);
}

#id_tokens_percent1{
	background-color: #0077f3;
}

#id_tokens_percent2{
	background-color: #424960;
}

#id_tokens_percent3{
	background-color: #4078ae;
}

#id_tokens_percent4{
	background-color: #8ebdf8;
}

#id_tokens_percent5{
	background-color: #4281bd;
}